# Ignore tous les fichiers dans le dossier ollama_files
ollama_files/

# Ignore les fichiers de configuration de l'éditeur
.vscode/
.idea/

# Ignore les fichiers générés par le système
.DS_Store
Thumbs.db

# Ignore les fichiers de logs
*.log

# Ignore les fichiers compilés
*.pyc
*.o
*.out

# Ignore les environnements virtuels
venv/
.env/
